/*******************************/
/* <= 912px */
/*******************************/
@media (max-width: 57em) {
  /* General */
  html {
    font-size: 50%;
    overflow-x: hidden;
  }

  /* Header */
  .header-inner {
    padding: 1rem 0;
    gap: 1.2rem;
  }

  .menu-link:link,
  .menu-link:visited {
    display: inline-block;
    box-shadow: none;
  }

  .menu-icon {
    color: var(--color-t-secondary);
    height: 2.2rem;
  }

  .logo {
    height: 2.4rem;
  }

  .main-nav-mobile {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    left: 2rem;
    top: 6.2rem;
    height: 100vh;
    max-width: 20rem;
    padding: 1rem 3.2rem;
    transform: translateX(-150%);
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .main-nav-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    gap: 1.2rem;
  }

  .hidden-sm {
    display: none;
  }

  .main-nav-search {
    border-bottom: none;
  }

  .search-icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .nav-cta:link,
  .nav-cta:visited {
    border-radius: 6px;
    padding: 0.8rem 2.2rem;
  }

  /* Hero */
  .hero-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-heading {
    font-size: 4.2rem;
  }

  .btn:link,
  .btn:visited {
    border-radius: 6px;
    padding: 1.2rem 2.8rem;
  }

  /* About us */
  .about-us-flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.2rem;
  }

  .about-us-heading {
    font-size: 3.6rem;
  }

  /* Our achievement */
  .achieve-flex {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 4.2rem;
  }

  .achieve-text-box {
    margin-left: 0;
  }

  /* Features */
  .features-top {
    width: 100%;
    margin-bottom: 2.8rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  .features-card {
    padding: 2rem;
  }

  /* Our team */
  .team-members {
    flex-wrap: wrap;
  }

  /* CTA */
  .cta-section {
    background-image: none;
  }

  .cta-text-box {
    margin: 0 auto;
    text-align: center;
  }

  .cta-img-box {
    justify-content: center;
    margin-top: 2rem;
  }

  .cta-img {
    width: 80%;
  }

  /* Blog */
  .news {
    flex-wrap: wrap;
  }

  .news-card {
    align-items: center;
  }

  .news-img-box {
    width: 80%;
  }

  /* Footer */
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-grid-item:last-child {
    text-align: center;
    grid-column: 1 / -1;
  }

  .footer-input {
    max-width: 20rem;
  }

  .footer-logo-container {
    display: block;
    text-align: center;
  }

  .footer-logo-img {
    margin: 2rem 0;
  }

  .footer-social-links {
    gap: 2rem;
    justify-content: center;
  }
}
