/*******************************/
/* Variables */
/*******************************/
:root {
  /* Blue */
  --blue-50: #e7f1fd;
  --blue-100: #e6f0f1;
  --blue-200: #d4e7fe;
  --blue-500: #0853b4;
  --blue-600: #1c6eda;
  /* Grey */
  --grey-50: #e5e5e5;
  --grey-100: #686868;
  --grey-400: #656464;
  --grey-500: #2b2b39;
  --grey-600: #0a093d;
}

:root {
  --color-primary: var(--blue-500);
  --color-shade: var(--blue-600);

  --color-t-primary: var(--grey-600);
  --color-t-secondary: var(--grey-500);
  --color-t-third: var(--grey-400);
  --color-t-light: var(--grey-100);
  --color-t-line: var(--grey-50);

  --color-bg1: var(--blue-50);
  --color-bg2: var(--blue-100);
  --color-bg3: var(--blue-200);
}

/*******************************/
/* Reusable Style */
/*******************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: var(--color-t-third);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.section {
  padding: 7.5rem 2.4rem;
}

.section-top {
  text-align: center;
  max-width: 68rem;
  margin: 0 auto 6.6rem;
}

.section-text {
  line-height: 2.4;
  max-width: 40rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.heading--secondary {
  color: var(--color-t-primary);
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.subtitle {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.btn:link,
.btn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 14px;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.8rem 4.2rem;
  text-decoration: none;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: var(--color-shade);
}

.btn--primary:link,
.btn--primary:visited {
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  margin-right: 1.8rem;
}

.btn--secondary:link,
.btn--secondary:visited {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--color-bg1);
}

.btn--sm:link,
.btn--sm:visited {
  padding: 1.4rem 4.4rem;
}

.link:link,
.link:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding: 0.8rem 0;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid currentColor;
}

.link--primary:link,
.link--primary:visited {
  color: var(--color-primary);
}

.link--primary:hover,
.link--primary:active {
  border-bottom: 1px solid currentColor;
}

.link--secondary:link,
.link--secondary:visited {
  color: var(--color-t-secondary);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(33, 123, 244, 0.5);
}

/*******************************/
/* Head */
/*******************************/
.menu-link {
  display: none;
}

.logo {
  height: 3.4rem;
}

.logo-img {
  height: 100%;
  width: auto;
}

.header {
  padding: 0 2.4rem 0;
  border-bottom: 1px solid rgba(33, 123, 244, 0.1);
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 7.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.main-nav {
  flex-grow: 1;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-search-list {
  margin-left: auto;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  padding: 0.8rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 1px solid var(--color-t-line);
}

.main-nav-search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-bottom: 1px solid var(--color-t-line);
  padding: 0.6rem 0 0.6rem;
}

.main-nav-search-text-box {
  font-size: 1.2rem;
  width: 10rem;
  border: none;
  padding: 0.8rem;
}

.main-nav-search-text-box::placeholder {
  color: var(--color-t-light);
}

.search-icon {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--color-t-light);
}

/*******************************/
/* Hero */
/*******************************/
.hero {
  background-image: linear-gradient(
    311.76deg,
    var(--color-bg3) -15.24%,
    #ffffff 78.85%
  );
  padding: 5.8rem 2.4rem 8.2rem;
}

.hero-flex {
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: space-between;
}

.hero-tag {
  background-color: var(--color-bg1);
  border-radius: 8px;
  color: var(--color-primary);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 1.2rem 3rem;
}

.hero-heading {
  color: var(--color-t-primary);
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.hero-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.2rem;
}

.hero-img {
  width: 100%;
  height: auto;
}

/*******************************/
/* About us */
/*******************************/
.about-us-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9.6rem;
}

.about-us-text {
  line-height: 1.8;
  margin-bottom: 3.6rem;
}

.about-us-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4;
}

.about-us-list-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.about-us-img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}

.about-us-img--long {
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: end;
}

/*******************************/
/* Our achievement */
/*******************************/
.achieve-flex {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.achieve-card {
  padding: 4.4rem;
  border-radius: 14px;
}

.achieve-card--primary {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
}

.achieve-card--secondary {
  border: 1px solid var(--color-t-line);
}

.achieve-card-heading {
  color: var(--color-t-primary);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.achieve-card-subheading {
  margin-bottom: 4rem;
}

.achieve-card-subheading-img {
  width: 6rem;
  height: auto;
}

.achieve-card-subheading-data {
  color: var(--color-primary);
  font-weight: 500;
}

.achieve-text {
  margin-bottom: 4rem;
  line-height: 2.4;
}

.achieve-text-box {
  margin-left: 9.2rem;
}

/*******************************/
/* Features */
/*******************************/
.features {
  background: linear-gradient(
    0deg,
    rgba(241, 246, 253, 0) 1.63%,
    #f1f6fd 20.5%,
    #f1f6fd 58.57%,
    #ffffff 100%
  );
}

.features-grid {
  max-width: 100rem;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 0 auto;
}

.features-card {
  background-color: #fff;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border-radius: 14px;
  padding: 3rem 3rem;
}

.features-card-flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.features-icon {
  width: 40%;
}

.features-card-text-box {
  flex-basis: 100%;
}

.features-card-heading {
  color: var(--color-t-primary);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.features-card-text {
  line-height: 2;
}

/*******************************/
/* Our team */
/*******************************/
.team-list {
  background-color: var(--color-bg1);
  list-style: none;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  margin: -3rem auto 0 auto;
  border-radius: 14px;
}

.team-list li {
  padding: 1.5rem;
}

.team-list .team-list-active {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 14px;
  text-align: center;
  padding: 1.5rem 3rem;
}

.team-members {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  gap: 3rem;
}

.team-card {
  border: 2px solid rgba(243, 243, 243, 0.5);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.team-card-img {
  width: 50%;
}

.team-card-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-t-primary);
  text-align: center;
  line-height: 2;
}

.team-card-link {
  text-align: center;
}
